body, html {
    font-family: 'Roboto', sans-serif;
}

#header {
    width: 100%;                        /*Terá LARGURA de 100%*/
    background-color: transparent;      /*Colocando um FUNDO transparente*/
    transition: background .2s;         /*Transição do fundo de 2 segundos*/
}

#header .navbar-collapse {
    width: auto;                        /*Pegando a navbar que está em100% da página e colocando a largura dela em AUTOMÁTICA*/
}

#header .nav-link {                     /*Dando ESTILO para cada item do menu da navbar (Página inicial, Sobre, Serviços, Portfólio, Contato)*/
    text-transform: uppercase;
    font-weight: 500;
    padding-left: 0;                    /*Terá um PREENCHIMENTO para a ESQUERDA*/
    padding-right: 0;                   /*Terá um PREENCHIMENTO para a DIREITA*/
    margin-left: 15px;                  /*Terá uma MARGEM de 15 pixels entre as palavras do menu para a ESQUERDA*/
    margin-right: 15px;                 /*Terá uma MARGEM de 15 pixels entre as palavras do menu para a DIREITA*/
    color: #000000;                   /*A cor das letras do menu de navegação será PRETA*/
    border-bottom: solid 4px transparent; /*Aqui estamos colando uma borda embaixo das palavras (links) da barra de navegação para ela não ficar "pulando as palavras" quando passarmos o mouse em cima"*/
}

#header .nav-link:hover {                /*o Hover dá o efeito de quando passamos o cursor do mouse em cima*/ 
    border-bottom: solid 4px var(--primary); /*Eu não quero toda vez ter que escrever a cor que quero usar no projeto, exemplo "#000000", então eu vou criar um arquivo de configuração dessas cores, em config.css ... Vou criar uma variável para cada cor, neste caso, usarei o var para pegar a cor "preto (--primary)"*/
    color: var(--primary);                 /*Aqui estamos colocando a cor das palavras (links) da navegação em AZUL (--secondary) quando o mouse passa em cima*/

}

#slider {
    background: url(../assets/slider-bg.png) no-repeat center bottom;
    background-size:contain;
}

#slider h1 {
    text-transform: uppercase;
    font-weight: 900;
}

#slider h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
}

#servicos a.destaque {
    display: block;
    background: var(--light);
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

#servicos a.destaque:hover {
    background: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.12);
    transform: scale(1.05);
}

#servicos p {
    color: var(--dark);
}

#servicos a.destaque .img-container {
    display: flex;
    align-items: center;                   /*Com o FLEX, eu posso alinhar todos os itens tanto verticalmente*/
    justify-content: center;               /*...quanto horizontalmente*/
    height: 200px;
}

#servicos a.destaque .img-container img {
    max-height: 160px;
}